@import './resets';

$primary-color: darkgreen;
$secondary-color: black;

#till {
  margin-top: 20px;
  border: 5px dotted $primary-color;
  #bills {
    border: 2px solid $secondary-color;
    margin-top: 10px;
    p {
      display: inline;
      margin-right: 20px;
      font-size: 18px;
    }
  }
  #change {
    border: 2px solid $secondary-color;
    margin-top: 10px;
    p {
      display: inline;
      margin-right: 20px;
      font-size: 18px;
    }
  }
  h3 {
    margin-top: 20px;
    font-weight: bold;
  }
}

#total {
  margin-top: 20px;
  border: 5px dotted black;
}